<h1>Editing categoroy</h1>

<%= render "form", categoroy: @categoroy %>

<br>

<div>
  <%= link_to "Show this categoroy", @categoroy %> |
  <%= link_to "Back to categoroys", categoroys_path %>
</div>
