<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= author.bio %>
  </p>
  
  <p>
    <strong>author_id:</strong>
    <%= author.id %>
  </p>

</div>
